asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
cmake==3.30.2
colorama==0.4.6
crispy-bootstrap4==2024.1
diagrams==0.23.4
distlib==0.3.8
dj-database-url==2.2.0
Django==5.1
django-cors-headers==4.4.0
django-crispy-forms==2.3
django-heroku==0.3.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
filelock==3.16.0
graphviz==0.20.3
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mysql-client==0.0.1
mysqlclient==2.2.4
packaging==24.1
pillow==10.4.0
pipenv==2024.0.1
platformdirs==4.3.2
pluggy==1.5.0
psycopg2==2.9.9
PyJWT==2.9.0
pytest==8.3.2
requests==2.32.3
setuptools==74.1.2
sqlparse==0.5.1
typed_ast==1.5.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
validate_email==1.3
virtualenv==20.26.4
whitenoise==6.7.0
